.card__container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 50px auto;
  text-align: center;
  padding: 20px;

  & .details {
    padding: 2px 16px;
    text-align: center;
  }

  & .link {
    color: black;
    margin-left: 10px;
  }

  & .button {
    background-color: white;
    border: 1px solid;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
}
