<div class="card__container">
  <i class="fa fa-user-circle fa-5x"></i>
  <div class="details">
    <h4><b>Sumit Sinha</b></h4>
    <div>Front-end Developer</div>
    <div><i class="fa fa-phone fa-lg"></i>+971-568385629</div>
    <div>
      <i class="fa fa-linkedin fa-lg"></i
      ><a
        class="link"
        target="_blank"
        href="https://www.linkedin.com/in/sumit-sinha108/"
        >https://www.linkedin.com/in/sumit-sinha108/</a
      >
    </div>
  </div>

  <button class="button" (click)="back()">Back to home</button>
</div>
