/* You can add global styles to this file, and also import other style files */

@font-face { font-family: nunito;
  src: url('../src/assets/Nunito/Nunito-Regular.ttf'); }
body {
  margin: 0;
  font-family: "nunito" ,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,;
}

.header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
